<div class="input-field col s6">
  <h5>Name:</h5><br>
  <i class="fas fa-user"></i>
  <input type="text" class="validate" placeholder="Your Name (required)" id="userName">
</div>

<div class="input-field col s6">
  <h5>Link to Photo Image:</h5><br>
  <i class="fas fa-image"></i>
  <input type="text" class="validate" placeholder="Photo Link Here (required)" id="userImage">
</div>
<hr>
<div class="input-field col s12">
  <h3>Question 1</h3>
  <h5>EJS question</h5>
  <select id="question1">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
</div>
<div class="input-field col s12">
  <h3>Question 2</h3>
  <h5>EJS question</h5>
  <select id="question2">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
</div>
<div class="input-field col s12">
  <h3>Question 3</h3>
  <h5>EJS question</h5>
  <select id="question3">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
</div>
<div class="input-field col s12">
  <h3>Question 4</h3>
  <h5>EJS question</h5>
  <select id="question4">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
</div>
<div class="input-field col s12">
  <h3>Question 5</h3>
  <h5>EJS question</h5>
  <select id="question5">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
</div>
<div class="input-field col s12">
  <h3>Question 6</h3>
  <h5>EJS question</h5>
  <select id="question6">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
</div>
<div class="input-field col s12">
  <h3>Question 7</h3>
  <h5>EJS question</h5>
  <select id="question7">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
</div>
<div class="input-field col s12">
  <h3>Question 8</h3>
  <h5>EJS question</h5>
  <select id="question8">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
</div>
<div class="input-field col s12">
  <h3>Question 9</h3>
  <h5>EJS question</h5>
  <select id="question9">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
</div>
<div class="input-field col s12">
  <h3>Question 10</h3>
  <h5>EJS question</h5>
  <select id="question10">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
</div>

<button type="submit" id="submit" class="btn btn-success submit">Submit</button>
