</div>
<!--footer-->
<section id="footer" class="footer">
<div class="container-fluid">
  <div class="row text-center text-xs-center text-sm-center text-md-left">
    <div class="col-xs-12 col-sm-12 col-md-3">
      <h5 class="footerh5">Quick Links</h5>
      <ul class="list-unstyled quick-links">
        <li><a class="links" href="/api/characters"><i class="fa fa-angle-double-right links"></i>Characters API</a></li>
        <li><a class="links" href="/api/users"><i class="fa fa-angle-double-right links"></i>Users API</a></li>
        <li><a class="links" href="https://github.com/mercerbe/ASIP-CharacterMatch" target="_blank"><i class="fa fa-angle-double-right links"></i>Github Repo</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 mt-2 mt-sm-5">
      <ul class="list-unstyled list-inline text-center">
        <h5 class="footerh5">Connect With Me:</h5>
        <li class="list-inline-item"><a href="https://www.facebook.com" target="_blank"><img width="35px" src="/app/public/images/facebook.png" /></a></li>
        <li class="list-inline-item"><a href="https://twitter.com" target="_blank"><img width="35px" src="/app/public/images/twitter.png" /></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com" target="_blank"><img width="35px" src="/app/public/images/linkedin.png" /></a></li>
        <li class="list-inline-item"><a href="https://www.google.com" target="_blank"><img width="35px" src="/app/public/images/google.png" /></a></li>
        <li class="list-inline-item"><a href="https://github.com/mercerbe/Arbittrage" target="_blank"><img width="35px" src="/app/public/images/github.png" /></a></li>
        <li class="list-inline-item"><a href="https://www.instagram.com" target="_blank"><img width="35px" src="/app/public/images/instagram.png" /></a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 text-md-right text-sm-center text-xs-center">
      <h5 class="footerh5">Other Resources</h5>
      <ul class="list-unstyled quick-links">
        <li><a class="links" href="http://www.jquery-backstretch.com/" target="_blank"><i class="fa fa-angle-double-right links"></i>Backstretch</a></li>
        <li><a class="links" href="http://ejs.co//" target="_blank"><i class="fa fa-angle-double-right links"></i>EJS</a></li>
        <li><a class="links" href="https://expressjs.com/" target="_blank"><i class="fa fa-angle-double-right links"></i>ExpressJS</a></li>
      </ul>
    </div>
  </div>
</div>
<p class="h6 copy">&copyBenMercerCodes</p>
</section>
  <!--scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!--backstretch-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
  <script>
    $("#homeJumbo").backstretch("/app/public/images/IASIP.jpg");
    $(".survey-jumbo").backstretch("/app/public/images/surveyjumbo.jpg");
    $(document).ready(function() {
      //submit form
      $("#submit").on('click', function(event) {
        event.preventDefault();
        //check for name and image
        if ($("#userName").val() === '' || $("#userImage").val() === '') {
          event.preventDefault();

          //alert that fields are empty
          alert("Some required fields are empty!");
        } else {
          event.preventDefault();

          //grab user input
          let Inputs = {
            name:$("#userName").val().trim(),
            image:$("#userImage").val().trim(),
            scores:[
              $("#question1").val(),
              $("#question2").val(),
              $("#question3").val(),
              $("#question4").val(),
              $("#question5").val(),
              $("#question6").val(),
              $("#question7").val(),
              $("#question8").val(),
              $("#question9").val(),
              $("#question10").val()]
          };

          //post user to user data
          $.ajax({
            url: '/api/users',
            type: 'POST',
            dataType: 'JSON',
            data: Inputs,
            traditional: true
          })
          .done(function(data) {
            console.log(data);
            $("#charMatch").text(data.matchName);
            console.log(data.matchName);
            $("#charMatchImage").attr('src', data.matchImage);
            console.log(data.matchImage);
            $("#modal1").show();
          })
          .always(function() {
            console.log("complete");
          });

        }
      });

    });

  </script>

</body>

</html>
