
<!-- Modal -->
<div class="modal" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your Character Match</h5>
      </div>
      <div class="modal-body">
        <h5 id="charMatch"></h5>
        <img id="charMatchImage" class="materialboxed" width="" src="">
      </div>
      <div class="modal-footer">
        <a href="/" class="btn btn-dark modal-action modal-close">No Thanks</a>
        <a href="/survey" class="btn btn-success modal-action modal-close">Take the survey again</a>
      </div>
    </div>
  </div>
</div>
