<div class="jumbotron survey-jumbo">
<form class="was-validated">
  <div class="input-field col-md-6 offset-md-3">
    <h5>Name:</h5>
    <i class="fas fa-user"></i>
    <input type="text" class="form-control is-valid" placeholder="Your Name" id="userName" required>
    <div class="invalid-feedback">
      *this field is required
    </div>
  </div>
  <br>
  <div class="input-field col-md-6 offset-md-3">
    <h5>Link to Photo Image:</h5>
    <i class="fas fa-image"></i>
    <input type="text" class="form-control is-valid" placeholder="Photo Link" id="userImage" required>
    <div class="invalid-feedback">
      *this field is required
    </div>
  </div>
</div>
  <hr>

<div class="q_wrapper">
  <div class="input-field col-md-12">
    <h3>Question 1</h3>
    <h5>EJS question</h5>
    <select id="question1">
    <option value="0">Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
  </div>
  <div class="input-field col-md-12">
    <h3>Question 2</h3>
    <h5>EJS question</h5>
    <select id="question2">
    <option value="0">Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
  </div>
  <div class="input-field col-md-12">
    <h3>Question 3</h3>
    <h5>EJS question</h5>
    <select id="question3">
    <option value="0">Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
  </div>
  <div class="input-field col-md-12">
    <h3>Question 4</h3>
    <h5>EJS question</h5>
    <select id="question4">
    <option value="0">Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
  </div>
  <div class="input-field col-md-12">
    <h3>Question 5</h3>
    <h5>EJS question</h5>
    <select id="question5">
    <option value="0">Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
  </div>
  <div class="input-field col s12">
    <h3>Question 6</h3>
    <h5>EJS question</h5>
    <select id="question6">
    <option value="0">Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
  </div>
  <div class="input-field col s12">
    <h3>Question 7</h3>
    <h5>EJS question</h5>
    <select id="question7">
    <option value="0">Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
  </div>
  <div class="input-field col s12">
    <h3>Question 8</h3>
    <h5>EJS question</h5>
    <select id="question8">
    <option value="0">Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
  </div>
  <div class="input-field col s12">
    <h3>Question 9</h3>
    <h5>EJS question</h5>
    <select id="question9">
    <option value="0">Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
  </div>
  <div class="input-field col s12">
    <h3>Question 10</h3>
    <h5>EJS question</h5>
    <select id="question10">
    <option value="0">Choose your option</option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>
  </div>
  <!-- submit button  -->
  <button type="submit" id="submit" class="btn mx-auto btn-success submit" data-target="#modal1">Submit</button>
</div>
</form>
