/*
font-family: 'Lemonada', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Suez One', serif;
font-family: 'Lato', sans-serif;
 */
html {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after, {
  box-sizing: inherit;
}

body{
    min-height: 100%;
    min-width: 100%;
    box-sizing: inherit;
    font-family: 'Suez One', serif;
    position: relative;
    background-color: rgb(230,234,237);
}

.navbar {
  text-shadow: 2px 2px 2px black;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.jumbotron h1 {

  font-family: 'Lemonada', cursive;
  font-size: 100px;
}

.jumbotron h3 {
  font-size: 35px;
}

#homeJumbo {
  padding-bottom: 10%;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.survey-jumbo {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding-bottom: 10%;
  padding-top: 250px;
}

.input-field {
  text-align: center;
}

#submit {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  margin-top: 1%;
  font-family: 'Lemonada', cursive;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  width: 100%;
  position: absolute;
  text-align: center;
  background-color: black;
  padding: 1% 0% 0% 0%;
  z-index: 1;
}

#footer a, .copy {
  font-family: 'Lato', sans-serif;
}

/*media queries*/

@media only screen and (max-width: 500px) {
  #footer {
    margin-bottom: -200px;
  }
  body {
    margin-bottom: 200px;
  }
  .jumbotron h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 768px) {
  #footer {
    bottom: -200px;
  }
  body {}
}

@media only screen and (min-width: 769px) {
  #footer {
    bottom: -300px;
  }
  body {}
}
