<% include ../partials/header %>
<div class="jumbotron container-fluid" id="homeJumbo">
  <h1 class="display-4">It's Always Sunny: Character Match</h1>
  <p class="lead">Which character are you most like? Take the survey to find out!</p>
  <p class="lead">
    <a href="/survey" class="btn btn-lg btn-success">Take the survey!</a>
  </p>
  <br>
  <br>
  <br>
  <br>

</div>

<% include ../partials/footer %>
