<% include ../partials/header %>
<div class="jumbotron">
  <h1 class="display-4">Always Sunny in Philadelphia: Character Match</h1>
  <p class="lead">Which character are you most like? Take the survey to find out!</p>
  <hr class="my-4">
  <p class="lead">
    <a href="/survey" class="btn btn-lg btn-success">Take the survey!</a>
  </p>
</div>
<% include ../partials/footer %>
